<article class="col-md-9">
  <div class="thumbnail">
    <div class="fotorama" data-width="100%" data-ratio="200/80">
      <div>
        <img src="http://placekitten.com/g/840/330">
        <div class="fotorama-text">Lorem ipsum dolor sit amet</div>
      </div>
      <div>
        <img src="http://placekitten.com/g/840/330">
        <div class="fotorama-text">Excepteur sint occaecat</div>
      </div>
      <div>
        <img src="http://placekitten.com/g/840/330">
        <div class="fotorama-text">Duis aute irure dolor</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <%= partial "last-content-block" %>
  <br>
  <%= partial "last-content-block" %>
</article>

<aside class="col-md-3">
  <%= partial "categories-list" %>
  <br class="hidden-sm visible-md visible-lg">
  <div class="row">
    <div class="col-md-12 col-sm-6">
      <%= partial "new-content-block" %>
      <br class="margin-div hidden-sm visible-md visible-lg">
    </div>
    <div class="col-md-12 col-sm-6">
      <%= partial "best-content-block" %>
    </div>
  </div>
</aside>