<article class="col-md-9">
  <div class="block-header-select">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title">Shop-4cols</h3>
      </div>
      <div class="col-md-8">
        <%= partial "view-style" %>
      </div>
    </div>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
  </div>
  <br>
  <div class="row last-content-block-elements">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
  </div>
  <br>
  <div class="row last-content-block-elements">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= partial "item-mini" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <ul class="pagination pull-left nomargin">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-md-5">
      <%= partial "products-per-page" %>
    </div>
  </div>
</article>

<aside class="col-md-3">
  <div class="col-md-12 col-sm-6">
    <%= partial "new-content-block" %>
    <br class="margin-div hidden-sm visible-md visible-lg">
  </div>
  <div class="col-md-12 col-sm-6">
    <%= partial "best-content-block" %>
  </div>
</aside>